/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'split_fastq' {
        ext.args   = { params.split_to_well ? "--split_to_well" : '' }
    }

    withName: STAR_GENOME {
        ext.args = { [
            params.star_genome_additional_args ? params.star_genome_additional_args : '',
        ].join(' ') }
    }
    
    withName: STARSOLO {
        ext.args = { [
            params.soloFeatures.contains("GeneFull_Ex50pAS") ? "--soloFeatures ${params.soloFeatures}" : "--soloFeatures GeneFull_Ex50pAS ${params.soloFeatures}",
            params.soloCellFilter ? "--soloCellFilter ${params.soloCellFilter}" : "",
            params.outFilterMatchNmin ? "--outFilterMatchNmin ${params.outFilterMatchNmin}" : "",
            params.outSAMattributes ? "--outSAMattributes ${params.outSAMattributes}" : "",
            params.outReadsUnmapped ? "--outReadsUnmapped ${params.outReadsUnmapped}" : "",
            "--soloCellReadStats Standard",
            "--soloBarcodeReadLength 0",
            params.starsolo_extra_args,
        ].join(' ') }
    }

    withName: BAM_SPLIT {
        publishDir = [
            path: { "${workDir}/tempDir/bam_split" },
            mode: 'symlink'
        ]
    }
    
    withName: QUANT {
        ext.args = { [
            params.m6A_file ? "--m6A_file ${params.m6A_file}" : "",
            params.snp_file ? "--snp_file ${params.snp_file}" : "",
            params.well_file ? "--well_file" : "",
        ].join(' ') }
    }
}